<style>
    body {
        background-color: #185a4e;
        width: 1265px;
    }
</style>
<div class="row">
    <div class="row">
        <div class="input-field col s4 m6" style="width: 19.333333%; margin-left: 43px; clear: both; left: 248px;">
            <select class="icons" name ="category">
                <option value="" disabled selected>Choose category</option>
                <option value="Technology">Technology</option>
                <option value="Daily Motivation">Daily Motivation</option>
                <option value="Science">Science</option>
                <option value="Politics">Politics</option>
                <option value="Art">Art</option>
                <option value="Fetish">Fetish</option>
                <option value="Music">Music</option>
                <option value="Fashion<">Fashion</option>
                <option value="Animals">Animals</option>
                <option value="Cook">Cook</option>
            </select>
        </div>

<div class="row">
    <form class="col s12">
        <div class="row" style="clear:both">
            <div class="input-field col s6" style="left: 248px">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" name="articleName" class="validate" value="{{article.articleName}}">
                <label for="icon_prefix">First Name</label>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6" style="left: 248px">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="textarea1" class="materialize-textarea">{{article.content}}</textarea>
                <label for="textarea1">Textarea</label>
            </div>
        </div>
    </form>
</div>



            <button class="btn waves-effect waves-light" type="submit" style="background-color: #26a69a; left: 390px;">Submit
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light" type="cancel" name="cancel" style="background-color: #c62828; left: 398px;">Cancel
                <i class="material-icons right">clear</i>
            </button>

</div>

