<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            Materialize.updateTextFields();
        });

        $(document).ready(function() {
            $('select').material_select();
        });

    </script>
    <!--<script rel="script" src="/js/article.js">-->
        <!--$(document).ready(function() {-->

            <!--$('.vote-up').submit(function (e) {-->
                <!--e.preventDefault();-->

                <!--var postId = $(this).data('id');-->
                <!--$.ajax({-->
                    <!--type: 'PUT',-->
                    <!--url: 'posts/' + postId + '/vote-up',-->
                    <!--success: function(data) {-->
                        <!--console.log("voted up!");-->
                    <!--},-->
                    <!--error: function(err) {-->
                        <!--console.log(err.messsage);-->
                    <!--}-->
                <!--});-->
            <!--});-->

            <!--$('.vote-down').submit(function (e) {-->
                <!--e.preventDefault();-->

                <!--var postId = $(this).data('id');-->
                <!--$.ajax({-->
                    <!--type: 'PUT',-->
                    <!--url: 'posts/' + postId + '/vote-down',-->
                    <!--success: function(data) {-->
                        <!--console.log("voted down!");-->
                    <!--},-->
                    <!--error: function(err) {-->
                        <!--console.log(err.messsage);-->
                    <!--}-->
                <!--});-->
            <!--});-->

        <!--});-->
    <!--</script>-->
</head>

<body>
    {{{body}}}
</body>
</html>